
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: "Sarabun", sans-serif;
    font-size: 11px;
    margin: 0 auto ;
    max-width: 100%;
    
}
body{
    margin: 0;
    height: auto;
    background: rgb(177, 241, 228)
    
}
.container{
    max-width: 400px; /* ขนาดสูงสุด */
    width: 100%; /* ขนาดยืดหยุ่น */
    height: auto; /* ขนาดคงที่ */
    margin: 20px auto; /* จัดกลาง */
    background: #fff;
    padding: 25px 30px;
    padding-top: 10px;
    border-radius: 5px;
    
    
    
}

.container .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}
.sub_title {
    width: calc(100% / 2-20px);
    margin: 5px 0 5px 0;
    
}
.input_sec{
    border-radius: 0.5em;
    height: 20px;
    margin-left: 5px;
    padding: 0 10px;
    outline: none;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    
}
input[type="radio"] {
	accent-color: rgb(22, 110, 182);
}

.main_title{
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 b{
    font-size: 15px;
    color: #098661;
}

table {
    border-collapse: collapse;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    justify-items: center;

}


td, th {
    border: 1px solid #034b2f;
    background-color: #f8f8ee;
    text-align: left;
    padding: 8px;
}
tr, th{
    color: #03331f;

    background-color: #d1f3e8;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #fffdfd;
}
table tr .check{
    width: 40px;
    text-align: center;
}
table tr .in{
    width: 35px;
    text-align: center;
}

